*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.carousel-item img{
height: 60vh;
object-fit: cover;
}

.carousel-control-prev{
    left: 10%;
}

.carousel-control-next{
    right: 10%;
}

.marketing{
    text-align: center;
    margin:5px;
}

body{margin-top:20px;}

.align-center {
    text-align: center;
}



li {
    display: block;
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}

.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}


.font-cond-b {
    font-weight: 700 !important;
}

textarea{
    margin: 4px;
}

body{
    background-color: rgba(4, 73, 4, 0.664);
}